/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body{

    background-color: rgb(229, 171, 171);
}

.contact-image{

    width: 150px;
    border-radius: 50%;
}