<div class="container mt-3">

    <div class="row">

        <div class="col">

            <p class="h3 fw-bold text-danger"> Add Contact</p>
            <p>Bring in quality leads, nurture them, and turn them into happy, paying customers. Get a complete view of
                all customer data—personal details, all communication you've had with them, and more—all in a single
                place.</p>
        </div>
    </div>
</div>

<!--create contact form---->

<div class="container">

    <div class="row">

        <div class="col sm-4">
            <form>


                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">

                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">

                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">

                    <input type="number" class="form-control" placeholder="Mobile Number">

                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">

                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">

                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Select Group</option>

                    </select>

                </div>
                <div class="mb-2">
                    <input value="Create" type="submit" class="btn btn-danger">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>

                </div>







            </form>
        </div>
    </div>
</div>