<div class="container mt-3">

    <div class="row">

        <div class="col">

            <p class="h3 fw-bold text-danger"> View Contact</p>
            <p>Bring in quality leads, nurture them, and turn them into happy, paying customers. Get a complete view of
                all customer data—personal details, all communication you've had with them, and more—all in a single
                place.</p>
        </div>
    </div>
</div>

<!-- contact details---->

<div class="container">


    <div class="row align-items-center">

        <div class="col-sm-4">
            <img alt="" src="https://cdn2.vectorstock.com/i/1000x1000/20/76/man-avatar-profile-vector-21372076.jpg"
                class="contact-image">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name:<span class="fe-bold">Name</span></li>
                <li class="list-group-item list-group-item-danger">Email:<span class="fe-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:<span class="fe-bold">Mobile</span></li>
                <li class="list-group-item list-group-item-danger">Name:<span class="fe-bold">Name</span></li>
                <li class="list-group-item list-group-item-danger">Email:<span class="fe-bold">Email</span></li>
                <li class="list-group-item list-group-item-danger">Mobile:<span class="fe-bold">Mobile</span></li>
            </ul>

        </div>

    </div>
    <div class="mb-2">

        <a class="btn btn-danger ms-2" routerLink="/">
            <i class="fa fa-arrow-alt-circle-left "></i>Back</a>

    </div>
</div>